<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:insert="layout/default.html :: headerfiles"></th:block>
</head>
<body>
<nav th:insert="layout/default.html :: navbar"></nav>
<br><br><br><br>
<div class="container" sec:authorize="hasRole('ADMIN')" >
<h3 th:text=#{manage.catalog}></h3>

<!-- ---------------------------------------------------- CATEGORIES ---------------------------------------------------- -->
<div th:if="${categories !=null}">
		<div  th:if="${categoryDeleted != null}">
				<h4 class="alert alert-success" th:text="${categoryDeleted}+' '+#{catalog.deleted}"></h4>
		</div>
		<div  th:if="${categoryUpdated != null}">
				<h4 class="alert alert-success" th:text="${categoryUpdated}+' '+#{catalog.updated}"></h4>
		</div>
		<div  th:if="${productDeleted != null}">
				<h4 class="alert alert-success" th:text="${productDeleted}+' '+#{catalog.deleted}"></h4>
		</div>
		<div  th:if="${productUpdated != null}">
				<h4 class="alert alert-success" th:text="${productUpdated}+' '+#{catalog.updated}"></h4>
		</div>
		<div  th:if="${itemDeleted != null}">
				<h4 class="alert alert-success" th:text="${itemDeleted}+' '+#{catalog.deleted}"></h4>
		</div>
		<div  th:if="${itemUpdated != null}">
				<h4 class="alert alert-success" th:text="${itemUpdated}+' '+#{catalog.updated}"></h4>
		</div>
		<h3 th:text="#{category.list}"></h3>
		<br>
		<div class="row justify-content-start" >
		<table>		
		<tr class="bg-light">
		<th class="col-sm-1" th:text="#{catalog.id}"></th>
		<th class="col-sm-3" th:text="#{catalog.name}"></th>
		<th class="col-sm-1"></th>
		<th class="col-sm-1"></th>
		</tr>
			<tr th:if="${categories.size()>0}" th:each="category: ${categories}">
				<td class="col-sm-1"><a th:href="@{'/manage-products/'+${category.id}}"  th:text="${category.id}"></a></td>
				<td class="col-sm-3" th:text="${category.name}"></td>
				<th class="col-sm-1"><a class="btn btn-primary" th:href="@{'/update-category/'+${category.id}}" th:text="#{catalog.update}"></a></th>
				<th class="col-sm-1"><a class="btn btn-primary" th:href="@{'/delete-category/'+${category.id}}" th:text="#{catalog.delete}"></a></th>
			</tr>		
			<tr th:if="${categories.size()==0}">
				<td class="col-sm-7" th:text=#{category.empty}></td>
		</tr>	
		</table>	
		</div>
</div>		
		<!-- ---------------------------------------------------- PRODUCTS ---------------------------------------------------- -->
		
		<div th:if="${products !=null}">
		<h3 th:text="#{product.list}"></h3>
		<br>
		<div class="row justify-content-start" >
		<table>		
		<tr class="bg-light">
		<th class="col-sm-1" th:text="#{catalog.id}"></th>
		<th class="col-sm-3" th:text="#{catalog.name}"></th>
		<th class="col-sm-1"></th>
		<th class="col-sm-1"></th>
		</tr>
			<tr th:if="${products.size()>0}" th:each="product: ${products}">
				<td class="col-sm-1"><a th:href="@{'/manage-items/'+${product.id}}"  th:text="${product.id}"></a></td>
				<td class="col-sm-3" th:text="${product.name}"></td>
				<th class="col-sm-1"><a class="btn btn-primary" th:href="@{'/update-product/'+${product.id}}" th:text="#{catalog.update}"></a></th>
				<th class="col-sm-1"><a class="btn btn-primary" th:href="@{'/delete-product/'+${product.id}}" th:text="#{catalog.delete}"></a></th>
			</tr>		
			<tr th:if="${products.size()==0}">
				<td class="col-sm-7" th:text=#{product.empty}></td>
		</tr>	
		</table>	
		</div>
</div>	
		<!-- ---------------------------------------------------- ITEMS ---------------------------------------------------- -->
		
<div th:if="${items !=null}">
		<h3 th:text="#{item.list}"></h3>
		<br>
		<div class="row justify-content-start" >
		<table>		
		<tr class="bg-light">
		<th class="col-sm-1" th:text="#{catalog.id}"></th>
		<th class="col-sm-3" th:text="#{catalog.name}"></th>
		<th class="col-sm-1"></th>
		<th class="col-sm-1"></th>
		</tr>
			<tr th:if="${items.size()>0}" th:each="item: ${items}">
				<td class="col-sm-1" th:text="${item.id}"></td>
				<td class="col-sm-3" th:text="${item.name}"></td>
				<th class="col-sm-1"><a class="btn btn-primary" th:href="@{'/update-item/'+${item.id}}" th:text="#{catalog.update}"></a></th>
				<th class="col-sm-1"><a class="btn btn-primary" th:href="@{'/delete-item/'+${item.id}}" th:text="#{catalog.delete}"></a></th>
			</tr>		
			<tr th:if="${items.size()==0}">
				<td class="col-sm-7" th:text=#{item.empty}></td>
		</tr>	
		</table>	
		</div>
</div>	

<br><br><br><br>
<div th:insert="layout/default.html :: footer"></div>
</div>
<nav th:insert="layout/default.html :: footernavbar"></nav>
<div th:insert="layout/default.html :: scripts"></div>
</body>
</html>