<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:insert="layout/default.html :: headerfiles"></th:block>
</head>
<body>
	<nav th:insert="layout/default.html :: navbar"></nav>
    <div class="container">	
    <br><br><br>
		<h3 th:text="#{update.product.title}"></h3>
		<hr />
		<br>
		<form class="form-horizontal" method="post" th:action="@{/update-product}" th:object="${productDTO}">
				<div class="form-group">
		    <label for="id" class="col-sm-2 control-label" th:text="#{catalog.id}"></label>
		    <div class="col-sm-5">
		        <input th:field="${productDTO.id}" type="text" id="id" name="id" th:value="${productDTO.id}" class="form-control" readonly />
		    </div>
		</div>
		<div class="form-group">
		    <label for="name" class="col-sm-2 control-label" th:text="#{catalog.name}"></label>
		    <div class="col-sm-5">
		        <input th:field="${productDTO.name}" type="text" id="name" name="name" class="form-control" th:value="${productDTO.name}" />
		    </div>
		</div>
		<div class="form-group">
		    <label for="description" class="col-sm-2 control-label" th:text="#{catalog.description}"></label>
		    <div class="col-sm-5">
		        <input th:field="${productDTO.description}" type="text" id="description" name="description" class="form-control" th:value="${productDTO.description}" />
		    </div>
		    </div>
		 <div class="form-group">
		    <label for="categoryId" class="col-sm-2 control-label" th:text="#{catalog.categoryId}"></label>
		    <div class="col-sm-5">
		        <input th:field="${productDTO.categoryId}" type="text" id="categoryId" name="categoryId" class="form-control" th:value="${productDTO.categoryId}" readonly/>
		    </div>   
		</div>
		<div class="form-group">
		    <label for="categoryName" class="col-sm-2 control-label" th:text="#{catalog.categoryName}"></label>
		    <div class="col-sm-5">
		        <input th:field="${productDTO.categoryName}" type="text" id="categoryName" name="categoryName" class="form-control" th:value="${productDTO.categoryName}" readonly/>
		    </div>   
		</div>
		
			<br>
		<div class="form-group">
		    <div class="col-sm-offset-2 col-sm-5">
		      <button type="submit" class="btn btn-primary" th:text="#{update.account}">Apply changes</button>
		  	</div>
		 </div>
		</form>
		<br><br><br><br>
    </div>
	<th:block th:insert="layout/default.html :: footernavbar"></th:block>
	<th:block th:insert="layout/default.html :: scripts"></th:block>
</body>
</html>
