<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:insert="layout/default.html :: headerfiles"></th:block>
</head>
<body>
	<nav th:insert="layout/default.html :: navbar"></nav>
    <div class="container">	
    <br><br><br>
		<h3 th:text="#{update.account.title}">Update Account</h3>
		<hr />
		<br>
		<form class="form-horizontal" method="post" th:action="@{/update-account}" th:object="${userDTO}">
				<div class="form-group">
		    <label for="username" class="col-sm-2 control-label" th:text="#{new.account.username}"></label>
		    <div class="col-sm-5">
		        <input th:field="${userDTO.username}" type="text" id="username" name="username" th:value="${userDTO.username}" class="form-control" readonly />
		    </div>
		</div>
		<div class="form-group">
		    <label for="firstname" class="col-sm-2 control-label" th:text="#{new.account.firstname}">Firstname</label>
		    <div class="col-sm-5">
		        <input th:field="${userDTO.firstname}" type="text" id="firstname" name="firstname"class="form-control" th:value="${userDTO.firstname}" />
		    </div>
		</div>
		<div class="form-group">
		    <label for="lastname" class="col-sm-2 control-label" th:text="#{new.account.name}">Name</label>
		    <div class="col-sm-5">
		        <input th:field="${userDTO.lastname}" type="text" id="lastname" name="lastname"class="form-control" th:value="${userDTO.lastname}" />
		    </div>
		</div>

		<div class="form-group">
		    <label for="password" class="col-sm-2 control-label" th:text="#{new.account.password}">Password</label>
		    <div class="col-sm-5">
		        <input th:field="${userDTO.password}" type="password" class="form-control" id="password" name="password"/>
		    </div>
		</div>
		
		<div class="form-group">
				 <label for="email" class="col-sm-2 control-label" th:text="#{customer.email}"></label>
				  <div class="col-sm-5">
		        <input th:field="${userDTO.email}" type="text" id="email" name="email" class="form-control" th:value="${userDTO.email}"/>
		    </div>
		</div>	
			<div class="form-group">
				 <label for="telephone" class="col-sm-2 control-label" th:text="#{customer.telephone}"></label>
				  <div class="col-sm-5">
		        <input th:field="${userDTO.telephone}" type="text" id="telephone" name="telephone" class="form-control" th:value="${userDTO.telephone}" />
		    </div>
		    </div>
			<!-- Address -->
			<h5 th:text="#{customer.address}"></h5>
			<div class="form-group">
				 <label for="street1" class="col-sm-2 control-label" th:text="#{customer.street1}"></label>
				  <div class="col-sm-5">
		        <input th:field="${userDTO.street1}" type="text" id="street1" name="street1" class="form-control" th:value="${userDTO.street1}" />
		    </div>
			</div>
			<div class="form-group">
				 <label for="street2" class="col-sm-2 control-label" th:text="#{customer.street2}"></label>
				  <div class="col-sm-5">
		        <input th:field="${userDTO.street2}" type="text" id="street2" name="street2" class="form-control" th:value="${userDTO.street2}" />
		    </div>
			</div>
			<div class="form-group">
				 <label for="city" class="col-sm-2 control-label" th:text="#{customer.city}"></label>
				  <div class="col-sm-5">
		        <input th:field="${userDTO.city}" type="text" id="city" name="city" class="form-control" th:value="${userDTO.city}" />
		    </div>
			</div>
			<div class="form-group">
				 <label for="state" class="col-sm-2 control-label" th:text="#{customer.state}"></label>
				  <div class="col-sm-5">
		        <input th:field="${userDTO.state}" type="text" id="state" name="state" class="form-control" th:value="${userDTO.state}" />
		    </div>
			</div>
			<div class="form-group">
				 <label for="zipcode" class="col-sm-2 control-label" th:text="#{customer.zipcode}"></label>
				  <div class="col-sm-5">
		        <input th:field="${userDTO.zipcode}" type="text" id="zipcode" name="zipcode" class="form-control" th:value="${userDTO.zipcode}" />
		    </div>
			</div>
			<div class="form-group">
				 <label for="country" class="col-sm-2 control-label" th:text="#{customer.country}"></label>
				  <div class="col-sm-5">
		        <input th:field="${userDTO.country}" type="text" id="country" name="country" class="form-control" th:value="${userDTO.country}" />
		    </div>
			</div>
			<!-- Credit card -->
			<h5 th:text="#{customer.creditcard.information}"></h5>
			<div class="form-group">
				 <label for="creditCardType" class="col-sm-3 control-label" th:text="#{customer.creditCardType}"></label>
				  <div class="col-sm-5">
		        <input th:field="${userDTO.creditCardType}" type="text" id="creditCardType" name="creditCardType" class="form-control" th:value="${userDTO.creditCardType}" />
		    </div>
			</div>
			<div class="form-group">
				 <label for="creditCardNumber" class="col-sm-3 control-label" th:text="#{customer.creditCardNumber}"></label>
				  <div class="col-sm-5">
		        <input th:field="${userDTO.creditCardNumber}" type="text" id="creditCardNumber" name="creditCardNumber" class="form-control" th:value="${userDTO.creditCardNumber}" />
		    </div>
			</div>
			<div class="form-group">
				 <label for="creditCardExpiryDate" class="col-sm-3 control-label" th:text="#{customer.creditCardExpiryDate}"></label>
				  <div class="col-sm-5">
		        <input th:field="${userDTO.creditCardExpiryDate}" type="text" id="creditCardExpiryDate" name="creditCardExpiryDate" class="form-control" maxlength="5" value="" th:placeholder="#{customer.creditCardExpiryDate}" />
		    </div>
			</div>
			<br>
		<div class="form-group">
		    <div class="col-sm-offset-2 col-sm-5">
		      <button type="submit" class="btn btn-primary" th:text="#{update.account}">Apply changes</button>
		  	</div>
		 </div>
		</form>
		<br><br><br><br>
    </div>
	<th:block th:insert="layout/default.html :: footernavbar"></th:block>
	<th:block th:insert="layout/default.html :: scripts"></th:block>
</body>
</html>
