
.tile-stats{
    background: #ddd8b9;
    opacity: 0.95;
}


.left_col {
    background: rgb(94, 114, 104);
    opacity: 0.97;
    }
    .x_panel {
        background: rgb(161, 182, 172);
        opacity: 0.90;
    }