.titre {
    color: white;
    font-family: 'Abril Fatface', cursive;
}
    .titre {
        font-family: 'Dosis', sans-serif;
    }

    .left_col {
        background: #55457a;
        }

        .x_panel{
            background: #98a4ca;;
        }
        