<nav class="navbar navbar-expand-lg navbar-light fixed-top " id="mainNav">
  <div class="container">
  

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" pageScroll href="#accueil"><Table>Accueil</Table></a>
        </li>

        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" pageScroll href="#messagerie">Messagerie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink='/home'><i class="fa fa-power-off"></i> Deconnexion</a>
        </li>


      </ul>  
    </div>
  </div> <div class="navbar-brand js-scroll-trigger">Bonjour, Opérateur {{nom_operateur}}</div>
</nav>

<header class="masthead text-center  d-flex " id="accueil">
  <div class="container-fluid my-auto  ">
    <div class="row">
      <div class="col-lg-2 col-sm-1 col-xs-0 col-md-1 left_col scroll-view " style="position:fixed; height:97%; ">

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
          <div class="navbar nav_title" style="border: 0;">
            <div class="site_title"><i class="fa fa-paw"></i> <span>Loncoto</span></div>
          </div>

          <div class="menu_section">
            <h3>General</h3>
            <ul class="nav side-menu">
              <li><a routerLink='/operateur' pageScroll href="#accueil"><i class="fa fa-home"></i> Tableau de bord <span class="fa "></span></a> </li>
              <li><a routerLink='/operateur/planning'><i class="fa fa-edit"></i> Planning <span class="fa "></span></a></li>
              <li><a routerLink='/operateur/interventions'><i class="fa fa-table"></i> Interventions <span class="fa "></span></a></li>
              <li><a routerLink='/operateur/referentiel'><i class="fa fa-bar-chart-o"></i> Referentiels <span class="fa fa-chevron-down"></span></a>
              </li>
            </ul>
                
          </div>

          <div class="menu_section">
            <h3>Live On</h3>
            <ul class="nav side-menu">
              <li><a routerLink='/operateur'  pageScroll href="#messagerie" ><i class="fa fa-bug"></i> Messagerie <span class="fa "></span></a></li>
              <li><a><i class="fa fa-windows"></i> Extras <span class="fa "></span></a></li>

            
            </ul>
            <br/><br/><br/>
         
          </div>
          <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        </div>
        <!-- /sidebar menu -->

      </div>

      <div class="col-lg-10 col-sm-10 col-xs-10 col-md-10 placeenhaut">
        <app-display-dashboard></app-display-dashboard>
      </div>
    </div>
  </div>
</header>




