<div class="col-lg-8"  style="background-color: rgba(255, 255, 255, 0.7) ">
  <div class="col-lg-12 mx-auto text-center ">
    <div class="well profile_view">
      <div class="col-sm-12 col-lg-12" style="color:black">
       
          <h3><I><strong>Fiche-Materiel n° {{currentMateriel.id}}</strong></I></h3>
          <div class="x_content" style="height: 450px;overflow:auto">
            <table class="table text-left" style="overflow:auto">
              <tbody>
                <tr>
                  <td>Marque: </td>
                  <td>{{currentMateriel.article.marque}}</td>
                </tr>
                <tr>
                  <td>Modèle : </td>
                  <td>{{currentMateriel.article.nom}}</td>
                </tr>
                <tr>
                    <td>Serial : </td>
                    <td>{{currentMateriel.serialID}}</td>
                </tr>
                <tr>
                    <td>Emplacement : </td>
                    <td>{{currentMateriel.lesite.nom}}</td>
             </tr>
                <tr>
                      <td>Propriétaire : </td>
                      <td>{{currentMateriel.client.nom}}</td>
               </tr>






               <tr>
                  <td>Interventions Loncoto : </td>
                  <td>
                    <table class="table table-striped text-left" style="color: black">
                      <thead>
                        <td><strong>Numéro</strong></td>
                        <td><strong>Site</strong></td>
                        <td><strong>Statut</strong></td>
                        <td><strong>Materiel</strong></td>
                    </thead>
                    <tbody>
                      <tr *ngFor="let intervention of interventionsmateriels " >
                       
                          <td><a routerLink="/operateur/interventions" pageScroll href="#editer" (click)="editerintervention(intervention.id)" style="color:black">##{{intervention.id}}</a></td>
                         <td>{{intervention.materiel.lesite.nom}}  </td>
                         <td> {{intervention.statut}} </td>
                         <td> {{intervention.materiel.serialID}} </td>
                     </tr>
                  </tbody>
                </table>
            </td>
            </tr>
  
  
            </tbody>
            </table>
  
          </div>





          <div class="col-xs-12 col-lg-12 bottom text-center" style="padding-top: 10%">

              <div class="col-xs-12 col-sm-6 col-lg-12 emphasis">
      
                <button type="button" class="btn btn-danger btn-xs"> <i class="fa fa-user">
                  </i> <i class="fa fa-comments-o"></i>Modifier </button>
      
      
                <button type="button" class="btn btn-info btn-xs" (click)="removeMateriel()" pageScroll href="#tableaux"> <i
                    class="fa fa-user">
                  </i> <i class="fa fa-comments-o"></i>Supprimer </button>
      
                <button type="button" class="btn btn-primary btn-xs" pageScroll href="#tableaux">
                  <i class="fa fa-user"> </i> Trouver un autre materiel</button>
      
              </div>
      </div>
    </div>
  </div>
</div></div>

<div class="col-lg-4">
  <div class="col-lg-8 mx-auto text-center">

    <div class=" well">

      <div class="panel panel-danger text-left" >
        <div class="panel-heading">
            <h3><I><strong>Modifier/Créer un Nouveau Materiel ?</strong></I></h3>
        </div>
        <div class="panel-body" >


          <form>
            <input type="hidden" name="id" id="id" [(ngModel)]="currentMateriel.id" />
            <div class="form-group">
              <label>Numéro de série</label>
              <input type="text" class="form-control" name="serialid" id="serialid" [(ngModel)]="currentMateriel.serialID" />
            </div>


            <div class="form-group" style="overflow:visible">
                <label>Site</label>
                <select name="site" [(ngModel)]="currentMateriel.lesite">
                  <option *ngFor="let site of sitesSubject |async" [ngValue]="lesite">
                    {{site.nom}} </option>
                </select>
              </div>
              
            <div class="form-group" style="overflow:visible">
                <label>Client</label>
                <select name="client" [(ngModel)]="currentMateriel.client">
                  <option *ngFor="let client of clientsSubject |async" [ngValue]="client">
                    {{client.nom}} </option>
                </select>
              </div>

              
            <div class="form-group" style="overflow:visible">
                <label>Article</label>
                <select name="article" [(ngModel)]="currentMateriel.article">
                  <option *ngFor="let article of articlesSubject |async" [ngValue]="article">
                   {{article.marque}}- {{article.nom}} </option>
                </select>
              </div>



            

          

            <button class="btn btn-warning" (click)="cancelMateriel()">annuler</button>
            <button class="btn btn-sucess" (click)="saveMateriel()" pageScroll  href="#tableaux">save/créer</button>
          </form>


        </div>
      </div>
    </div>


  </div>
</div>